{erl_opts,
 [warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  debug_info]}.

{clean_files, [".eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

{edoc_opts, [{stylesheet_file, "./priv/edocs.css"}]}.

{pre_hooks,
 [{"(linux|darwin|solaris)", compile, "make -C c_src"},
  {"(freebsd|openbsd)", compile, "gmake -C c_src"}]}.

{post_hooks,
 [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
  {"(freebsd|openbsd)", clean, "gmake -C c_src clean"}]}.

{project_plugins,
 [{rebar3_hex, "~> 6.11.5"},
  {rebar3_format, "~> 1.0.1"},
  {rebar3_lint, "~> 0.4.0"},
  {rebar3_hank, "~> 1.1.2"}]}.

{dialyzer,
 [{warnings, [no_return, unmatched_returns, error_handling, unknown]},
  {get_warnings, true},
  {plt_apps, top_level_deps},
  {base_plt_location, "_build/global_plt"}]}.

{alias, [{test, [compile, format, lint, dialyzer, eunit, edoc]}]}.

{format, [{files, ["*.config", "src/*", "test/*"]}]}.
